:global(.edm-widget-reset) {
  .p-2_5 {
    padding: 14px !important;
  }
  .p-widget {
    padding-left: 14px !important;
    padding-right: 14px !important;
    padding-bottom: 14px !important;
    padding-top: 0 !important;
  }
}
