.edm-ext-widget {
  min-height: 800px;
  height: 800px;
}

.edm-ext-widget_loading {
  height: calc(800px - 36px - 45px);
}

.edm-ext-widget_main {
  height: calc(800px - 36px - 45px);
}

.edm-ext-floating {
  position: fixed;
  right: 4rem;
  top: 4rem;
  width: 480px;
}
